# Kristen Finley Module 4 Project: Task 1

In [77]:
import pandas as pd

---

## Task 1 - Series

1. Looked at using a one-dimensional pandas Series to hold and process simple exam data.

In [78]:
grades = pd.Series([87, 100, 94])
grades

0     87
1    100
2     94
dtype: int64

2. Followed the instructions in 7.14 to import the pandas module (as pd).
3. Created a pandas Series named grades from a list of integers (exam scores).
4. Got the value of the first grade with grades[0].

In [79]:
grades.count()

3

In [80]:
grades.min()

87

In [81]:
grades.max()

100

In [82]:
grades.mean()

93.66666666666667

In [83]:
grades.std()

6.506407098647712

In [84]:
grades.describe()

count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

In [85]:
pd.Series(98.6, range(3))

0    98.6
1    98.6
2    98.6
dtype: float64

5. Called the built in Series functions: count(), mean(), min(), max(), std(), and describe().

---

## Task 2 - Series from Dictionary

In [86]:
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 94})
grades

Wally     87
Eva      100
Sam       94
dtype: int64

1. Followed the instructions in the "Dictionary Initializers' subsection to modify your code to initialize grades with a dictionary (a set of key-value pairs instead) - used the student name as the key and their exam score as the value.

In [87]:
grades['Eva']

100

2. Got Eva's score by calling grades['Eva']

In [88]:
grades.Wally

87

3. Got Wally's score using the easier dot notation: grades.Wally.

In [89]:
grades.dtype

dtype('int64')

In [90]:
grades.values

array([ 87, 100,  94])

4. Used the Series values attribute to display the array of values.

---

## Self Check

5. Completed the self-check on Page 266.
6. Noted: We can use a Series whenever our values are a simple one-dimensional array.
7. Made sure the notebook is nicely formatted with a heading and sections in Markdown clearly dividing the work.

In [91]:
import numpy as np
import pandas as pd
temps = np.random.randint(59, 101, 5)
temperatures = pd.Series(temps)
temperatures

0     73
1     59
2    100
3     96
4     59
dtype: int64

In [92]:
temperatures.min()

59

In [93]:
temperatures.max()

100

In [94]:
temperatures.mean()

77.4

In [95]:
temperatures.describe()

count      5.000000
mean      77.400000
std       19.705329
min       59.000000
25%       59.000000
50%       73.000000
75%       96.000000
max      100.000000
dtype: float64

Ran the entire file and exported the results to kristenfinley_1.html. This displayed the calculated results.